/* general setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    scroll-behavior: smooth;
    /* transition: all 0.1s ease-in-out; */
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    overflow: hidden;
}

/* button:hover {
    color: #fff !important;
    background-color: #1468cd !important;
} */

/* header */

header {
    background-color: #F7F9FE;
    background-image: url(../images/shape-a.png);
    overflow: hidden;
}

nav {
    overflow: hidden;

    /* border-bottom: 1px solid burlywood; */


}

.LOGO h3 {
    color: #3A4B6B;
}

nav .logo-color {
    color: #FF5362;
}

.color-19 {
    color: #4C6691;
}

nav ul li {
    font-size: 14px;
}


.color-btn {
    border-radius: 25px;
    background-color: #2B80EA;
    border: none;
    font-size: 14px;
    color: #fff;
}

.color-btn:hover {
    background-color: #2070d2 !important;
    border: none !important;
}

nav ul li a:hover {
    color: #1468cd !important;
}

.bord-hov:hover {
    border: none;
}

@media (max-width: 1250px) {
    li {
        font-size: 13px;
    }
}

/* start section of corona */
.width-all {
    width: 400px;
}

.corona-font {
    margin-top: 90px;
    margin-bottom: 20px;
    color: #50658E;
    font-family: 'Oswald', sans-serif;

}

.corona-font .co-font h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 80px;

}


.sizer-f {
    font-size: 11px;
    margin-bottom: 20px;
}

.h-colr {
    color: red;
    font-family: 'Oswald', sans-serif;

}

.h2-font {
    font-family: 'Oswald', sans-serif;

}

.h2-font,
.h-colr {
    font-size: 25px
}

.image-width {
    width: 700px;
}

/* buttons in corona section */
.btn-protect {
    border-radius: 25px;
    font-size: 14px;
    font-weight: 900;
    background-color: #2B80EA;
    border: none;
    color: #fff;
}

.about-covid {
    font-size: 13px;
    font-weight: 600;
}

.btn-protect:hover {
    background-color: #1468cd;
}

.about-covid:hover {
    color: #1468cd;
}

.count-font {
    color: #7D92BB;
    font-size: 11px !important;
}

.color-of-counter {
    color: #465774;
}

.last-size {
    margin-top: 20px;
    font-size: 10px;
    font-style: italic;
    color: #7D92BB;


}

/* start section of about this diesese */
.about h6 {
    color: #2B80EA;
}

.coronaVirus h3 {
    font-family: 'Oswald', sans-serif;
    color: #50658E;
}

.affect {
    color: #3D4C69;
}

.coronaVirus p {
    color: #3D4C69;
}


.what-you-need {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
}

.about-this-disease ul li {
    border-bottom: 1px solid #e7e8ff;
    padding: 20px 30px;
    font-weight: bold;
    color: #465675;
}

.about-this-disease ul a li {
    display: flex;
    justify-content: space-between;
    color: #2a81ea;
}

/* start section of spread */

.section-spread {
    background-color: #F6F9FE;
}

.is-spread {
    color: #2a81ea;
    letter-spacing: 2px;
}

.transimassion {
    font-family: 'Oswald', sans-serif;
    color: #50658E;
}

.blue-border {
    border-bottom: 6px solid #9cc2f7;
    width: 500px;
}

.size-box {
    border-radius: 10px;
    /* padding: 0; */
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);


}

.Have-question {
    background-color: #2B80EA;
    border: none;
    border-radius: 25px;
    padding: 5px 20px;
    color: #fff;
}

.Have-question:hover {
    color: #fff;
    background-color: #1468cd !important;
}

.Person-to-person-color {
    color: #2a81ea;
}

/* start section symptom */

.symptom-image {
    display: flex;
    justify-content: flex-end;
}

.wraning-i {
    color: #2B80EA;
}

.find-answer button {
    background-color: #2B80EA;
    border-radius: 25px;
    color: #fff;
}

.find-answer button:hover {
    color: #fff;
    background-color: #1468cd !important;
}

/* end section symptom */


/* start section of prevent */
.wash {
    background-color: #2B80EA !important;
    border-radius: 25px;
    color: #fff;
}

.wash:hover {
    color: #fff;
    background-color: #1468cd !important;
}

.q-a {
    color: #2B80EA;


}

.q-a:hover {
    color: #1468cd !important;

}






/* end section of prevent */

/* start section of prevent */
.prevent {
    background-color: rgb(246, 249, 254);
}

.steps {
    color: #465774;
}

.steps-color {
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
}

.color-i-steps {
    color: #3ECA93;
}

/* end section of prevent*/


/* start section of treatment */
.treatment {
    background-color: #2766BB;
    background-image: url("/images/shape-a.png");
}

.careful h6 {
    color: #73E3FE;
    letter-spacing: 2px;
}

.careful h1 {
    font-family: 'Oswald', sans-serif;
}

.careful h1,
.text-careful p {
    color: #fff;
}

.care-midecal {
    border-radius: 5px;
    background-color: #1B47A0;
    color: #fff;
}



/* end section of treatment */


/* start section of donot  */
.section-donot {
    background-color: #F6F9FE;
}

.donot p {
    color: #50658E;
}

.donot h6 {
    color: #2B80EA;
    letter-spacing: 2px;
}

.yourself {
    font-family: 'Oswald', sans-serif;
    color: #50658E;
}

.image-do img {

    border-radius: 50%;
    border: 2px solid #2a81ea;
    background-color: #fff;


}

.avoid-font {
    font-size: 13px;
    color: #2B80EA;
}

/* end section of donot  */


/* start faq */

.faq {
    padding: 100px 0;
}

.faq .faq-text {
    width: 100%;
    margin: auto;
    text-align: center;
}

.faq .faq-text h5 {
    color: #2a81ea;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.faq .faq-text h2 {
    color: #50658e;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.faq .faq-boxs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.faq .faq-boxs .faq-left-box {
    flex-basis: 70%;
    margin: 0 auto 50px;
}

.faq .faq-boxs .faq-left-box ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid #e7e8ff;
    color: #50658e;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 93%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.faq .faq-boxs .faq-left-box ul li.active,
.faq .faq-boxs .faq-left-box ul li:hover {
    color: #2a81ea;
    border-color: #2a81ea;
}

.faq .faq-boxs .faq-left-box ul li svg {
    text-align: right;
}

.faq .faq-boxs .faq-right-box {
    flex-basis: 95%;
    margin: auto;
    background: #f7fafe;
    border: 1px solid #e7e8ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: fit-content;
}

.faq .faq-boxs .faq-right-box p {
    color: #3d4b69;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.faq .faq-boxs .faq-right-box a {
    color: #007bff;
    text-decoration: none;
}

.faq .faq-boxs .faq-right-box a:hover {
    color: #0056b3;
}

.faq .faq-boxs .faq-right-box h3 {
    color: #3d4b69;
    margin-bottom: 10px;
    font-size: 16px;
}

.faq .faq-boxs .faq-right-box div ul li div.plus.first,
.faq .faq-boxs .faq-right-box div ul li div.minus {
    display: none;
}

.faq .faq-boxs .faq-right-box div ul li div {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 8px 11px;
}

.faq .faq-boxs .faq-right-box div>ul.border {
    padding: 10px 30px 0;
    border-bottom: 1px solid #e7e8ff;
}

.faq .faq-boxs .faq-right-box div>ul.border:last-of-type {
    border-bottom: none;
}

.faq .faq-boxs .faq-right-box .change-color {
    color: #2a81ea;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.faq .faq-boxs .faq-right-box div ul li.main-title {
    list-style: none;
    color: #465675;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq .faq-boxs .faq-right-box div ul li.main-title:hover {
    color: #2a81ea;
}

.faq .faq-boxs .faq-right-box .change-color li.main-title {
    color: #2a81ea;
}

.faq .faq-boxs .faq-right-box div ul:nth-child(1) div.first {
    display: block;
}

.faq .faq-boxs .faq-right-box .protects ul>h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #3d4b69;
}

.faq .faq-boxs .faq-right-box .protects ul li span {
    line-height: 1.5em;
    color: #3d4b69;
    font-weight: bold;
}

.faq .faq-boxs .faq-right-box .protects ul ul {
    list-style: disc;
    margin-left: 20px;
}

.faq .faq-boxs .faq-right-box .protects ul ul ul {
    list-style: circle;
    margin-left: 20px;
}

.faq .faq-boxs .faq-right-box .protects ul ul a.underline {
    border-bottom: 1px solid #2a81ea;
    padding-bottom: 1px
}

.faq .faq-boxs .faq-right-box .protects ul ul a.underline:hover {
    border-bottom: 1px solid #0056b3;
    padding-bottom: 1px
}

.faq .faq-boxs .faq-right-box .protects ul span {
    font-weight: bold;
}

.faq .faq-boxs .faq-right-box .protects ul ul li {
    line-height: 1.5em;
    color: #3d4b69;
    font-size: 16px;
    margin-bottom: 20px;
}

.faq .faq-boxs .faq-right-box .outbreak ul h3 {
    line-height: 1.5em;
    color: #2a81ea;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.faq .faq-boxs .faq-right-box .outbreak ul h3:last-of-type {
    line-height: 1.5em;
    color: #3d4b69;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: default;
}

.faq .faq-boxs .faq-right-box .outbreak ul li span {
    line-height: 1.5em;
    color: #3d4b69;
    font-weight: bold;
}

.faq .faq-boxs .faq-right-box .outbreak ul ul {
    list-style: disc;
    margin-left: 20px;
}

.faq .faq-boxs .faq-right-box .outbreak ul ul ul {
    list-style: circle;
    margin-left: 20px;
}

.faq .faq-boxs .faq-right-box .outbreak ul ul a.underline {
    border-bottom: 1px solid #2a81ea;
    padding-bottom: 1px
}

.faq .faq-boxs .faq-right-box .outbreak ul ul a.underline:hover {
    border-bottom: 1px solid #0056b3;
    padding-bottom: 1px
}

/* Start Style The Frequently Section Media Queries */

@media (min-width: 992px) {
    .faq .faq-text {
        width: 70%;
    }

    .faq .faq-boxs {
        flex-wrap: nowrap;
    }

    .faq .faq-boxs .faq-left-box {
        flex-basis: 33.3%;
        margin: 0;
    }

    .faq .faq-boxs .faq-right-box {
        flex-basis: 66.6%;
        margin: 0;
    }
}

/* end faq */


/* section of latest update  */

.latest h5 {
    color: #2B80EA;
}

.latest h2 {
    font-family: 'Oswald', sans-serif;
    color: #50658E;
}


/* start section of latest update  */
.latest-update {
    background-color: #F6F9FE;
}

.think-sick {

    font-size: 17px;
    margin-bottom: 20px;
}

.think-sick:hover {
    color: #2B80EA;
    cursor: pointer;
}

.updates {
    border-radius: 20px;
    /* padding: 0; */
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(80, 101, 142, 0.08);
}

.updates img {
    border-radius: 10px;
    margin-top: 20px;
}

/* footer */
.footer-img {
    background-image: url(/images/shape-a.png);
    background-color: #151C2E;
    color: #fff;
}

.text-footer-color {
    color: #fff;
}

.covid-text {
    font-size: 15px;
    color: #b2bfe0;
}

.logo-color {
    color: #FF5362;
}

.social-icon {
    background-color: #50658e;
    width: 30px;
    height: 25px;

}

.social-icon:hover {
    background-color: #2a81ea;
    cursor: pointer;

}

.footer-img ul li {
    margin-bottom: 8px;

}

.footer-img ul li a {
    color: #b2bfe0;
}

.footer-img ul li a:hover {
    color: #2a81ea;
}

.footer-border {
    border-bottom: 1px solid #2C3243
}

.copy-right {
    color: #b2bfe0;
    font-size: 14px;
}

.copy-right p span {
    color: #fff;
}

.copy-right p a {
    color: #b2bfe0;
}

.copy-right p a:hover {
    color: #2a81ea;
}

/* top button */

.top {
    color: #fff;
    background-color: #2B56F5;
    position: fixed;
    right: 40px;
    bottom: 30px;
    font-size: 27px;
    border: none;
    width: 50px;
    height: 50px;
    display: none;


}

/* end footer  */